---
before_script:
  - duneci-install-module https://gitlab.dune-project.org/core/dune-common.git
  - duneci-install-module https://gitlab.dune-project.org/core/dune-geometry.git
  - duneci-install-module https://gitlab.dune-project.org/core/dune-localfunctions.git
  - duneci-install-module https://gitlab.dune-project.org/staging/dune-uggrid.git
  - duneci-install-module https://gitlab.dune-project.org/core/dune-grid.git
  - duneci-install-module https://gitlab.dune-project.org/core/dune-istl.git
  - duneci-install-module https://gitlab.dune-project.org/staging/dune-typetree.git
  - duneci-install-module https://gitlab.dune-project.org/staging/dune-functions.git
  - duneci-install-module https://gitlab.dune-project.org/felix.gruber/dune-subgrid.git

debian:10  gcc:
  image: duneci/base:10
  script: duneci-standard-test
  variables:
    DUNECI_OPTS:   $CI_PROJECT_DIR/.ci-gcc.opts
  tags: [duneci]

debian:10  clang:
  image: duneci/base:10
  script: duneci-standard-test
  variables:
    DUNECI_OPTS:   $CI_PROJECT_DIR/.ci-clang.opts
  tags: [duneci]
